:root {
  text-align: center;
  margin: 0;
  padding: 0;
}
.quizstart {
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.options > span {
  border: 2px solid aliceblue;
  border-radius: 16px;
  padding: 3px 24px;
  box-shadow: 2px 4px 3px aliceblue;
}

.selected {
  background-color: #bc8be6ef;
}

.correct {
  background-color: #82dc06;
}

.incorrect {
  background-color: #f47f7f;
}

.option {
  cursor: pointer;
}

.show {
  margin-top: 8px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 575px){
  .options {
    flex-wrap: wrap;
    gap: 8px;
  }
}